/*!
 * angular-seed-with-grunt
 * 
 * 
 * @author 
 * @version 0.0.1
 * Copyright .  licensed.
 */

body {
  background-color: lightblue;
}

.rsp_data {
  background-color: yellow;
  color: blue;
  font-size: 32px;
}

body {
  font-size: 24px;
}

/*# sourceMappingURL=views.css.map */
