<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
<p>    
  Data received from (Web) service:
  <pre class="rsp_data" ng-repeat="(key, val) in myData">{{ key }} : {{ val }}</pre>
</p>
